<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Todo List Details</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_list.name }}</h1>
                <p>
                    <a href="{% url 'todo_list_update' id=todo_list.id %}">Edit</a>
                    <a href="{% url 'todo_list_delete' id=todo_list.id %}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo_item in todo_list.items.all %}
                        <tr>
                            <td><a href="{% url 'todo_item_update' id=todo_item.id %}">{{ todo_item.task }}</a></td>
                            <td>{{ todo_item.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
