<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Update list</h1>
                <form method="post">
                    {% csrf_token %}
                    <p>Name:<input type="text" name="name"></p>
                    <button type="submit">Update</button>
                </form>
            </div>
        </main>
    </body>
</html>
