<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create A Todo List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Create a new item</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <label for="task">Task:</label>
                    <input type="text" id="task" name="task">
                    <hr>
                    <label for="due_date">Due date:</label>
                    <input type="text" id="due_date" name="due_date">
                    <hr>
                    <label for="is_completed">Is completed:</label>
                    <input type="checkbox" id="is_completed" name="is_completed">
                    <hr>
                    <label for="list">List:</label>
                    <select id="list" name="list" >
                        <option value="" disabled selected>-------</option>
                        {% for todo_list in TodoList.objects.all %}
                        <option value="{{ todo_list.id }}">{{ todo_list.name }}</option>
                        {% endfor %}
                    </select>
                    <hr> -->
                    <button type="submit">Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
