<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Todo List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
                <a href="{% url 'todo_item_create' %}">Create a new item</a>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo_list in todo_lists %}
                        <tr>
                            <td><a href="{% url 'todo_list_detail' todo_list.id %}">{{todo_list.name}}</a></td>
                            <td>{{todo_list.items.all.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
